# ========================================
# Principle of Server configuration
# ========================================
# 1. NewConfig() initialize default values     --> file : config.go
# 2. DotEnv feeder                             --> file .env
# 3. Env feeder surcharge variables            --> Environment Variables

# ========================================
# BE CARE
# ========================================
# golobby/config/v3 does not support " in .env file, so values with spaces
# or special characters should be written without " and parsed in code accordingly.


####################
# GENERAL SETTINGS #
####################

BACKEND_DEV_MODE=true

####################
# LOGIN            #
####################

ADMIN_PASSWORD=skoreflow # ⚠️ weak default
API_SECRET=sheetcomposer_secret_key

#############
# DATABASES #
#############

DB_DRIVER=sqlite

####################
# PATH             #
####################
# All paths are relative to the root of the project : APP_ROOT
# so they can be used in both development and production without modification.

APP_ROOT=/home/christian/SkoreFlow_Project/SkoreFlow/backend
STORAGE_PATH=storage

####################
# MICROSERVICE     #
####################
# Location of microservices, used for inter-service communication and orchestration.
MS_ROOT=micro-service


#################
# SMTP SETTINGS #
#################

# Enable or disable SMTP email sending
SMTP_ENABLED=true

# Sender email address (must match SMTP provider account for Gmail)
SMTP_FROM=

# SMTP server host (e.g. smtp.gmail.com, mail.provider.com)
SMTP_HOST=

# SMTP server port
# 587 = STARTTLS (recommended for Gmail)
# 465 = SSL
SMTP_PORT=587

# SMTP authentication username (usually full email address)
SMTP_USERNAME=

#################
# SMTP authentication password or app password
#
# ⚠ IMPORTANT:
# - For Gmail, you MUST use an App Password (not your normal password)
# - If your password contains spaces, DO NOT rely on .env quoting behavior
# - Recommended: store it base64 encoded for safety in config parsing
# Encode example:
# echo "your app password here" | base64
#################

#################
# Possibility to set the password in a environment variable instead of .env for security reasons, especially in production.
#   nano ~/.bashrc
#     Add the line at the end :
#   export SMTP_PASSWORD_BASE64="YourPasswordHere=="
#   Reload the configuration : source ~/.bashrc
#
# Or like below in .env for development
#################
SMTP_PASSWORD_BASE64=
