# ========================================
# TEMPLATE ENV FILE
# ========================================
# .env file is the only file wich is read from the backen
# You may adapt this file relative to your target
# For extra specification, you can also adapt teh environment variables ! (see for example Makefile)

# ========================================
# Principle of Server configuration
# ========================================
# 1. NewConfig() initialize default values     --> file : config.go
# 2. DotEnv feeder                             --> file .env
# 3. Env feeder surcharge variables            --> Environment Variables

# ========================================
# SYNTAX
# ========================================
# golobby/config/v3 does not support in .env file the following
#   - "
#   - values with spaces
#   - special characters should ne parsed in code base 64

############################################################
# APPLICATION
############################################################

# ========================================
# Runtime environment.
# ========================================
# - development : verbose logging, local development
# - production  : for real production deployment, with all optimizations and security measures.
APP_ENV=development

# ========================================
# Securit attack.
# ========================================
# none, basic, full.
PROTECTION_LEVEL=none

# ========================================
# Enable test mode.
# ========================================
# When enabled:
# - test users are automatically created at startup
# - SMTP authentication may be bypassed
# - additional testing features can be enabled
# - Will automatically seed test users on server startup for testing purposes.
# - will authorize all requests without smtp authentication for easier testing of protected routes.
TEST_MODE=false


############################################################
# SECURITY
############################################################

# Default administrator password.
# To Change in production !!
ADMIN_PASSWORD=skoreflow

# Secret key used to sign JWT tokens.
API_SECRET=sheetcomposer_secret_key

############################################################
# DATABASE
############################################################

# Database driver.
# Supported: sqlite postgres mysql
DB_DRIVER=sqlite

############################################################
# FILE STORAGE
############################################################

# Absolute path to the application
PROJECT_ROOT=/home/christian/SkoreFlow_Project/SkoreFlow/backend
# DATA_ROOT=/tmp/skoreflow/storage
DATA_ROOT=/home/christian/SkoreFlow_Project/SkoreFlow/backend/storage


############################################################
# THUMBNAIL MICROSERVICE
############################################################

# URL in charge for the thumbnail generation service.
THUMBNAIL_SERVICE_URL=http://localhost:5001

############################################################
# SMTP
############################################################

# Enable email sending.
SMTP_ENABLED=true

# To adapt
SMTP_FROM=christian.klugesherz@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=christian.klugesherz@gmail.com

# SMTP Password
# Several possibities

# In this File
SMTP_PASSWORD=YourPassword
SMTP_PASSWORD_BASE64=YourPasswordInBase64

# In environment variables - Only one SMTP_PASSWORD or SMTP_PASSWORD_BASE64 is mandatory !
# Convert PW in base64 with : echo "**** **** **** ****" | base64
# to avoid syntax parsing errors if your password contains special characters (e.g. =, #, ", \, space)
# export SMTP_PASSWORD="YourPassword"
# export SMTP_PASSWORD_BASE64="YourPasswordInBase64"

# Or better in ~/.bashr
#   nano ~/.bashrc
#     Add the line at the end :
#   export SMTP_PASSWORD="YourPassword"
#   export SMTP_PASSWORD_BASE64="YourPasswordInBase64"
#   Reload the configuration : source ~/.bashrc

############################################################
# FRONTEND
############################################################

# Public URL of the frontend application.
# Used by the backend when generating links inside emails,
# password reset URLs and account confirmation URLs.
FRONTEND_ORIGIN=http://localhost:5173

############################################################
# CORS
############################################################

# List of browser origins allowed to call the backend.
# Multiple origins can be specified using commas:
#
# This setting is only used for browser CORS validation.
# Local development on the VM
#   Frontend: http://localhost:5173
#   API: http://localhost:8080
# Development on Windows using VSCode Remote
#   Frontend: http://192.168.1.138:5173
#   API: http://192.168.1.138:8080
# Access from another computer on the network
#   Frontend: http://192.168.1.138:5173
#   API: http://192.168.1.138:8080
# For Vite build port is 4173

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://192.168.1.138:5173,http://localhost:4173,http://192.168.1.138:4173
