# ========================================
# Principle of Server configuration
# ========================================
# 1. NewConfig() initialize default values     --> file : config.go
# 2. DotEnv feeder                             --> file .env
# 3. Env feeder surcharge variables            --> Environment Variables


####################
# GENERAL SETTINGS #
####################

BACKEND_DEV_MODE=false

####################
# LOGIN            #
####################

ADMIN_PASSWORD="skoreflow" # ⚠️ weak default
API_SECRET="sheetcomposer_secret_key"

#############
# DATABASES #
#############

DB_DRIVER=sqlite

#################
# SMTP SETTINGS #
#################
SMTP_ENABLED=true
SMTP_FROM=christian.klugesherz@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=christian.klugesherz@gmail.com
SMTP_PASSWORD="**** **** **** ****"


