# Repo Root = /backend

# Ignore environment variables
.env
!.env.sample

# Ignore directory where scores/sheets and database are stored
# Note: A leading '/' targets the git root.
# Once a directory is ignored, Git stops tracking its subdirectories.
#   --> /* ignores the content
#   --> allows for exceptions using '!'

# 1) Ignore everything inside storage
storage/*

# 2) Allow 'composers' and 'assets' directories
!storage/composers/
!storage/assets/

# 3) Ignore all contents inside composers
storage/composers/*

# 4) Re-allow assets within composers
!storage/composers/assets/

# Build output directory
build/

# Go binary (if not in build/)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
